<!-- Icerik -->
<div class="container mt-4">
    <div class="mb-3">

        <h2>Ürün Ekle</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="UrunAdi">UrunAdi</label>
                <input id="UrunAdi" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Fiyat">Fiyat</label>
                <input id="Fiyat" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Stok">Stok</label>
                <input id="Stok" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="KategoriAdi">KategoriAdi</label>
                <select id="KategoriAdi" class="form-select">
                    <option>Seçiniz</option>
                    <option>Kategori</option>
                    <option>Kategori</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Resim">Resim</label>
                <input id="Resim" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Aciklama">Aciklama</label>
                <textarea id="Aciklama" class="form-control"></textarea>
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Tamam</button>

        </form>

    </div>
</div>