<!-- Icerik -->
<div class="container mt-4">
    <div class="mb-3">

        <h2>Ürün Güncelle</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="UrunAdi">UrunAdi</label>
                <input id="UrunAdi" value="Ürün" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Fiyat">Fiyat</label>
                <input id="Fiyat" value="100" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Stok">Stok</label>
                <input id="Stok" value="20" class="form-control">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="KategoriAdi">KategoriAdi</label>
                <select id="KategoriAdi" class="form-select">
                    <option>Seçiniz</option>
                    <option selected>Kategori</option>
                    <option>Kategori</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Resim">Resim</label>
                <input id="Resim" class="form-control">
                <img src="http://placehold.it/200x150" class="mt-1" alt="">
                <span class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="Aciklama">Aciklama</label>
                <textarea id="Aciklama" class="form-control">Aciklama</textarea>
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Tamam</button>

        </form>

    </div>
</div>