<!-- Icerik -->
<div class="mt-4">
    <h2>Hakkımızda</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nemo, explicabo nihil magnam voluptatibus sequi harum eum officia repellendus eaque nulla asperiores magni officiis perferendis non tempore commodi itaque aliquam.
    </p>
</div>