<!-- Icerik -->
<div class="row mt-4">
    <div class="col">
        <img class="img-fluid rounded-start" src="~/image/urun.png" alt="..." />
    </div>
    <div class="col">
        <h2>Hoşgeldiniz</h2>
        <ul>
            <li>Hızlı</li>
            <li>Güvenli</li>
            <li>Uygun</li>
        </ul>
    </div>
</div>