<p>
    <a asp-action="YorumEkle" class="btn btn-primary">Yorum Ekle</a>
</p>
<p>
    <a asp-action="Kayit" class="btn btn-primary">Kullanıcı Kayıt</a>
</p>

<!-- Icerik -->
<div class="row mt-4">
    <div class="col">
        <img class="img-fluid rounded-start" src="~/image/urun.png" alt="..." />
    </div>
    <div class="col">
        <h2>Hoşgeldiniz</h2>
        <ul>
            <li>Hızlı</li>
            <li>Güvenli</li>
            <li>Uygun</li>
        </ul>
    </div>
</div>