<!-- Iletisim -->
<div class="card mb-4">
    <div class="card-header">İletişim</div>
    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores
        quas voluptatibus est at obcaecati culpa labore nulla libero facilis.</div>
</div>