<!-- Icerik -->
    <div class="container mt-4">
        <div class="mb-3">
            <!-- Vitrin -->
            <div class="card mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid rounded-start" src="~/image/urun.png" alt="..." />
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title">Ürün</h2>
                            <p class="card-text small">50 TL</p>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nobis
                                quod error consequatur magni aspernatur distinctio voluptatum totam. Quibusdam
                                reiciendis deleniti quas cupiditate. Animi, sint. Commodi eligendi quos non odio saepe!
                                Labore, aliquam? Labore neque magnam reiciendis eos sunt ad, aperiam nulla expedita
                                placeat quidem nostrum tempore fuga voluptatum quibusdam!</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>