<!-- Slogan -->
<div class="py-2 bg-light">
    <div class="container">
        <div class="text-center my-2">
            <h1 class="fw-bolder">Alışverişe Başla</h1>
            <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos?</p>
        </div>
    </div>
</div>

<!-- Icerik -->
<div class="mt-4">
    <h2>Hakkımızda</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nemo, explicabo nihil magnam voluptatibus sequi harum eum officia repellendus eaque nulla asperiores magni officiis perferendis non tempore commodi itaque aliquam.
    </p>
</div>