<!-- Slogan -->
<div class="py-2 bg-light">
    <div class="container">
        <div class="text-center my-2">
            <h1 class="fw-bolder">Alışverişe Başla</h1>
            <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos?</p>
        </div>
    </div>
</div>

<!-- Icerik -->
<div class="row mt-4">
    <div class="col">
        <img class="img-fluid rounded-start" src="~/image/urun.png" alt="..." />
    </div>
    <div class="col">
        <h2>Hoşgeldiniz</h2>
        <ul>
            <li>Hızlı</li>
            <li>Güvenli</li>
            <li>Uygun</li>
        </ul>
    </div>
</div>