<!-- Slogan -->
    <header class="py-2 bg-light border-bottom">
        <div class="container">
            <div class="text-center my-2">
                <h1 class="fw-bolder">Alışverişe Başla</h1>
                <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos?</p>
            </div>
        </div>
    </header>
    <!-- Icerik -->
    <div class="container mt-4">
        <div class="row mb-3">
            <!-- Ana Bolum -->
            <div class="col-lg-8">
                <!-- Vitrin -->
                <div class="card mb-4">
                    <img class="card-img-top" src="~/image/urun.png" alt="..." />
                    <div class="card-body">
                        <h2 class="card-title">Ürün</h2>
                        <p class="card-text small">50 TL</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
                            libero!</p>
                        <a class="btn btn-primary" href="~/Urun/Detay">Detay</a>
                    </div>
                </div>

                <div class="card mb-4">
                    <img class="card-img-top" src="~/image/urun.png" alt="..." />
                    <div class="card-body">
                        <h2 class="card-title">Ürün</h2>
                        <p class="card-text small">50 TL</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
                            libero!</p>
                        <a class="btn btn-primary" href="~/Urun/Detay">Detay</a>
                    </div>
                </div>

                <div class="card mb-4">
                    <img class="card-img-top" src="~/image/urun.png" alt="..." />
                    <div class="card-body">
                        <h2 class="card-title">Ürün</h2>
                        <p class="card-text small">50 TL</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
                            libero!</p>
                        <a class="btn btn-primary" href="~/Urun/Detay">Detay</a>
                    </div>
                </div>

            </div>
            <!-- Yan Menu -->
            <div class="col-lg-4">
                <!-- Arama -->
                <div class="card mb-4">
                    <div class="card-header">Arama</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Arama..."
                                aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Ara</button>
                        </div>
                    </div>
                </div>
                <!-- Kategoriler -->
                <div class="card mb-4">
                    <div class="card-header">Kategoriler</div>
                    <div class="card-body p-0">
                        <div class="list-group-flush">
                            <a class="list-group-item" href="#!">Kategori 1</a>
                            <a class="list-group-item" href="#!">Kategori 2</a>
                            <a class="list-group-item" href="#!">Kategori 3</a>
                        </div>
                    </div>
                </div>
                <!-- Iletisim -->
                <div class="card mb-4">
                    <div class="card-header">İletişim</div>
                    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores
                        quas voluptatibus est at obcaecati culpa labore nulla libero facilis.</div>
                </div>

            </div>
        </div>
    </div>