@model Ogrenci

<div class="card p-3">
    <h2>Öğrenci adı: @Model.AdSoyad</h2>
    <p>Sınav 1: @Model.Sinav1</p>
    <p>Sınav 2: @Model.Sinav2</p>
    <p><img src="~/@Model.Resim.FileName" alt="" srcset=""></p>
</div>