<!-- Slogan -->
    <header class="py-2 bg-light border-bottom">
        <div class="container">
            <div class="text-center my-2">
                <h1 class="fw-bolder">Alışverişe Başla</h1>
                <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos?</p>
            </div>
        </div>
    </header>
    <!-- Icerik -->
    <div class="container mt-4">
        <div class="mb-3">
            <h2>Hakkımızda</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic rem error dolorum temporibus ex culpa
                corrupti ipsum asperiores deserunt tempore est, necessitatibus modi cumque sunt voluptatum
                laudantium voluptatem quaerat ad architecto cum, in, labore voluptates obcaecati magnam. Accusamus
                tempore nihil at aliquid perferendis magni atque assumenda error. Eos, nisi nostrum.
            </p>

            <partial name="_Iletisim"></partial>

        </div>
    </div>