@model List<Urun>

<!-- Icerik -->
<div class="container mt-4">
    <div class="mb-3">
        <h2>Ürünler</h2>

        <a asp-action="UrunEkle" class="btn btn-primary mb-3">Ekle</a>
        <!-- Urun Listesi -->
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                <td>@item.UrunAdi</td>
                <td>@item.Fiyat TL</td>
                <td>
                    <a asp-action="UrunGuncelle" asp-route-id="@item.Id" class="btn btn-outline-primary">Güncelle</a>
                    <a asp-action="UrunSil" asp-route-id="@item.Id" class="btn btn-outline-primary">Sil</a>
                </td>
            </tr>
            }
        </table>
    </div>
</div>