<!-- Icerik -->
    <div class="container mt-4">
        <div class="row mb-3">
            <!-- Ana Bolum -->
            <div class="col-lg-8">
                <h2>Ürünler</h2>
                <!-- Urun Listesi -->
                <div class="row row-cols-2 row-cols-lg-3 g-3">
                    <!-- Urun -->
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="~/image/urun.png" alt="..." />
                            <div class="card-body text-center">
                                <h5 class="card-title">Ürün</h5>
                                <p class="card-text small">50 TL</p>
                                <a asp-action="Detay" class="btn btn-outline-primary">Detay</a>
                            </div>
                        </div>
                    </div>

                    <!-- Urun -->
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="~/image/urun.png" alt="..." />
                            <div class="card-body text-center">
                                <h5 class="card-title">Ürün</h5>
                                <p class="card-text small">50 TL</p>
                                <a asp-action="Detay" class="btn btn-outline-primary">Detay</a>
                            </div>
                        </div>
                    </div>

                    <!-- Urun -->
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="~/image/urun.png" alt="..." />
                            <div class="card-body text-center">
                                <h5 class="card-title">Ürün</h5>
                                <p class="card-text small">50 TL</p>
                                <a asp-action="Detay" class="btn btn-outline-primary">Detay</a>
                            </div>
                        </div>
                    </div>

                    <!-- Urun -->
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="~/image/urun.png" alt="..." />
                            <div class="card-body text-center">
                                <h5 class="card-title">Ürün</h5>
                                <p class="card-text small">50 TL</p>
                                <a asp-action="Detay" class="btn btn-outline-primary">Detay</a>
                            </div>
                        </div>
                    </div>

                    <!-- Urun -->
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="~/image/urun.png" alt="..." />
                            <div class="card-body text-center">
                                <h5 class="card-title">Ürün</h5>
                                <p class="card-text small">50 TL</p>
                                <a asp-action="Detay" class="btn btn-outline-primary">Detay</a>
                            </div>
                        </div>
                    </div>

                    <!-- Urun -->
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="~/image/urun.png" alt="..." />
                            <div class="card-body text-center">
                                <h5 class="card-title">Ürün</h5>
                                <p class="card-text small">50 TL</p>
                                <a asp-action="Detay" class="btn btn-outline-primary">Detay</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Yan Menu -->
            <div class="col-lg-4">
                
                <partial name="_Arama"></partial>

                <!-- Kategoriler -->
                <div class="card mb-4">
                    <div class="card-header">Kategoriler</div>
                    <div class="card-body p-0">
                        <div class="list-group-flush">
                            <a class="list-group-item" href="#!">Kategori 1</a>
                            <a class="list-group-item" href="#!">Kategori 2</a>
                            <a class="list-group-item" href="#!">Kategori 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>