@model List<Urun>

<h2>Ürünler</h2>

<!-- Urun Listesi -->
<div class="row row-cols-2 row-cols-lg-3 g-3">

    @foreach (var item in Model)
    {       
        <!-- Urun -->
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/image/urun.png" alt="..." />
                <div class="card-body text-center">
                    <h5 class="card-title">@item.UrunAdi</h5>
                    <p class="card-text small">@item.Fiyat TL</p>
                    <a class="btn btn-outline-primary btn-sm" asp-controller="Urun" asp-action="Detay">Detay</a>
                </div>
            </div>
        </div>
    }

</div>


@section Duyuru {
    <li class="nav-item"><button type="button" class="btn btn-success me-2">3 Al 1 Öde</button></li>
    <li class="nav-item"><button type="button" class="btn btn-primary me-2">Kredi Kartına 5 Taksit</button></li>
}