@model List<Kategori>

<!-- Icerik -->
<div class="row mt-4">
    <div class="col">
        <img class="img-fluid rounded-start" src="~/image/urun.png" alt="..." />
    </div>
    <div class="col">
        <h2>Hoşgeldiniz</h2>
        <ul>
            <li>Hızlı</li>
            <li>Güvenli</li>
            <li>Uygun</li>
        </ul>

        <h2>Kategoriler</h2>
        <ul>
            <li><a asp-controller="Urun" asp-action="Index">Tümü</a></li>
            @foreach(var item in Model){
                <li><a asp-controller="Urun" asp-action="Index" asp-route-id="@item.Id">@item.KategoriAdi</a></li>
            }
        </ul>
    </div>
</div>